
@{
    ViewBag.Title = "Anasayfa";//viewi eklerken vıewstarta bagladık.baglarken use loyout dedık ama loyout alalanını bos bıraktık byu sayede vıewstart a gıdıp ordan loyout a baglancagız.
}

<h1><marquee>Türkiyenin En büyük Alış-Veriş Sitesine HOŞGELDİNİZ</marquee></h1>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<marquee behavior=alternate>En ekonomik fırsatlar sizleri bekliyor</marquee>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<marquee direction=right>Sizlerle birlikte 100.yılımıza giriyoruz</marquee>