
@{
    ViewBag.Title = "kullanicisayisi";
}

<table border="1" style="color:brown;border-bottom-left-radius:5px;border-bottom-right-radius:5px">
    <thead>
        <tr>
            <th>Aktif Kullanici</th>
            <th>Toplam Kullanici</th>
        </tr>

    </thead>
    <tbody>
        <tr>
            <td>@ViewBag.AktifKullanici</td>
            <td>@ViewBag.ToplamKullanici</td>
        </tr>
    </tbody>
</table>

